.card {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    opacity: .9;
    background: linear-gradient(
        to right,
    #038197,
    #00B5A8,
    #009AA0);
    border-radius: 10px;
}