.patient-card {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    margin-top: 40px;
}

.patient-card-header {
    font-style: italic;
    font-size: 25px;
}

.patient-card-body {
    margin-top: 5px;
    font-size: 15px;
}