.boxStyle {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box; 
    background: #00B5A8;
    color: white;
    width: 60%;
    /* border-radius: 2px; */
    padding: 20px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    /* border-radius: 200px; */
}
/*  */
.boxStyle:hover {
    opacity: .7;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background: linear-gradient(to right, rgba(0,192,173,0.9) 0%, rgba(0,127,152,0.9) 100%);
    color: white;
    padding: 20px;
    font-weight: bold;
    font-size: 45px;
    margin: 0px;
    margin-bottom: 50px;
}

#logIn {
    background: #00B5A8;
}

#signUp {
    background: #009AA0;
}

#info {
    background: #038197;
}

a {
    text-decoration: none !important;
  }