.boxStyle {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box; 
    background: linear-gradient(
        to right,
    #038197,
    #00B5A8,
    #009AA0);
    color: white;
    width: 70%;
    border-radius: 2px;
    padding: 20px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.boxStyle:hover {
    opacity: .7;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background: linear-gradient(
        to right,
    #038197,
    #00B5A8,
    #009AA0);
    color: white;
    padding: 20px;
    font-weight: bold;
    font-size: 45px;
}

a {
    text-decoration: none !important;
  }