.boxStyle {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 20px;
    box-sizing: border-box; 
    background: #00B5A8;
    color: white;
    width: 60%;
    /* border-radius: 2px; */
    padding: 20px;
    font-weight: bold;
    margin: auto;
    margin-top: 20px;
}

/*  */
.boxStyle:hover {
    opacity: .7;
}

#logIn {
    background: #04AED5;
}

#signUp {
    background: #048BB0;
}

#info {
    background: #037297;
}

a {
    text-decoration: none !important;
  }

#logIn, #signUp, #info {
    border-radius: 50px;
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
    #logIn, #signUp, #info {
        height: 110px;
        margin-top: 30px;
        font-size: 30px;
        line-height: 30px;
    }
 }