.title {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.title:hover {
    color: white;
    text-decoration: none;
}

.nav {
    padding-top: 10px;
    /* padding-left: 25px; */
    /* margin-bottom: 50px; */
    /* background: linear-gradient(135deg, rgb(4, 188, 230) 0%, rgba(4,164,200,1) 1%, rgba(3,113,150,1) 100%); */
}

.gradient-background-title {
    background: linear-gradient(135deg, rgb(4, 188, 230) 0%, rgba(4,164,200,1) 1%, rgba(3,113,150,1) 100%);
}